meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Estructura y constitución de una EAT
meta(meta name="description" content="A través de este componente formativo inicial, se establecen criterios conceptuales para comprender la estructura de las Empresas Asociativas de Trabajo (EAT), desde el conocimiento de la Ley 10 de 1991, Decreto 1100 de 1992, la Ley 1014 de 2006 de emprendimiento y todo el proceso para la organización, constitución y legalización de una EAT. Por este motivo, se desea que el aprendiz comprenda la importancia que brinda la Ley 10 de 1991 y los decretos al momento de estructurar una EAT.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")