h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Componentes', 'main.html#page/componentes-bs/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')