h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Identificar la estructura de las empresas asociativas de trabajo, de acuerdo con la normatividad vigente.
            li
                span Constituir una empresa asociativa de trabajo, de acuerdo con la normatividad que las rigen.



