.container

    // Header
    .header.mt-md-5
        .header-ecored
            h1 1. Estructura de las Empresas Asociativas de Trabajo

        .header.my-md-5
            .row.my-5
            .col
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/HBgyl2vrLxw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    .header.mt-md-5
        .card.mb-5
            img.card-img-top(src='assets/images/pages/tema-1/imagen1Tema1.svg', style='margin-top: -4%')

    .jumbotron.bg-white      
      .container.timeline__wrapper
        .row.justify-content-center.px-sm-2.px-md-5.py-5
          .col-10 
            section                       
              .timeline-card-wrapper.tl--starEnd.pt-5       
                .timeline-card
                  .timeline-card__head
                    .img-box
                      img(src="assets/images/pages/tema-1/tema1icono1.svg", alt="")
                    h3 Ley 10 de 1991 (prueba)
                    .p(style="margin-left: 30%")
                       a(href="media/documentos/1991_Constitucion_Politica_Colombia_Articulo_25.pdf" target="_blank")
                        .img-box
                            img(src="assets/images/pages/tema-1/verDocumento.svg", alt="")

                            
                .timeline__text
                  .card.mt-5-md-5
                    p.card-text El objetivo de la ley es poner a disposición de funcionarios del estado, ONG, gremios, organizaciones comunitarias y personas naturales, una herramienta de orientación acerca de las peculiaridades de las EAT.

                      p La atención se centra en las poblaciones de desempleados, subempleados y poblaciones vulnerables, personas que ejercen actividades comerciales informalmente, entre otras. Es la comunidad la que busca abarcar la Ley 10 de 1991 y las unidades de negocio bajo la figura de EAT.

                      p Además, se conceptualiza lo concerniente a la Ley 10 de 1991, el régimen asociativo, la dirección de las EAT, el patrimonio y utilidades, el régimen tributario y de crédito. 
                       
              .timeline-card-wrapper.tl--starEnd.pt-5       
                .timeline-card
                  .timeline-card__head
                    .img-box
                      img(src="assets/images/pages/tema-1/tema1icono2.svg", alt="")
                    h3 Decreto 1100 de 1992
                    .p(style="margin-left: 20%")
                       a(href="media/documentos/1991_Constitucion_Politica_Colombia_Articulo_25.pdf" target="_blank")
                        .img-box
                            img(src="assets/images/pages/tema-1/verDocumento.svg", alt="")

                .timeline__text
                  .card.mt-5-md-5
                    p.card-text En este decreto se reglamenta la Ley 10 de 1991 y se conceptualizan el alcance del decreto basado en la producción, comercialización y distribución de bienes de consumo básico familiar, así como la prestación del esfuerzo individual o asociativo para facilitar el bienestar de la sociedad.

                      p Se determina el número de socios como mínimo y máximo para la creación de una EAT y los aportes que pueden establecer. Se específica sobre la razón social de la EAT cómo se conforma, el proceso para conseguir la personería jurídica y los tipos de aportes que se pueden realizar. 

                      p De igual manera, en el decreto se establece la importancia de las reservas en la EAT y sus finalidades, como distribuir las utilidades, por qué conceptos se puede disolver la EAT, cómo hacer la liquidación, cuál es el régimen tributario y los beneficios para las EAT y los asociados.
                
              .timeline-card-wrapper.tl--starEnd.pt-5       
                .timeline-card
                  .timeline-card__head
                    .img-box
                      img(src="assets/images/pages/tema-1/tema1icono3.svg", alt="")
                    h3 Manual para la organización de Empresas Asociativas de Trabajo (Ley 10 de 1991 y decreto 1100 de 1992)
                    .p(style="margin-left: 2%")
                       a(href="media/documentos/1991_Constitucion_Politica_Colombia_Articulo_25.pdf" target="_blank")
                        .img-box
                            img(src="assets/images/pages/tema-1/verDocumento.svg", alt="")

                .timeline__text
                  .card.mt-5-md-5
                    p.card-text En este tema, a través del manual se especifican los siguientes criterios al momento de organizar una EAT: 

                      ul
                       li.p Pasos para legalizar y organizar la EAT, elementos y principios de las empresas del sector social, entre ellas las EAT. Alternativas de negocio en los sectores económicos del país, desde lo urbano y lo rural.

                       li.p Capacitación, asesoría y asistencia técnica en los diferentes emprendimientos que existen.

                       li.p Crédito y financiamiento, además de redes de apoyo como el Fondo Emprender.

                       li.p Régimen tributario y los beneficios para los asociados participantes en las EAT.

              .timeline-card-wrapper.tl--starEnd.pt-5       
                .timeline-card
                  .timeline-card__head
                    .img-box
                      img(src="assets/images/pages/tema-1/tema1icono4.svg", alt="")
                    h3 Ley 1014 de 2006 (Ley de emprendimiento)
                    .p(style="margin-left: 0%")
                       a(href="media/documentos/1991_Constitucion_Politica_Colombia_Articulo_25.pdf" target="_blank")
                        .img-box
                            img(src="assets/images/pages/tema-1/verDocumento.svg", alt="")
                .timeline__text
                  .card.mt-5-md-5
                    p.card-text Por medio de esta ley, se establecen criterios y pasos a tener en cuenta en el momento de formalizar una empresa de cualquier tipo, específicamente las EAT.

                    p Así mismo, se presentan las redes de apoyo al emprendimiento, las fuentes de financiamiento y apoyo en capacitaciones y capital semilla como el Fondo Emprender.