.container

    // Header
    .header.mt-md-5

        .header-ecored
            h1 2. Constituir una Empresa Asociativa de Trabajo

    .header.mt-md-5

        .card.mb-5
            img.card-img-top(src='assets/images/pages/tema-2/imagen1Tema2.svg')

        .jumbotron.bg-danger1-tema2 
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/sub1Icono1.svg", style="max-width: 120px").img-fluid
                .col-10
                    h2.text-white.text-justify.mb-0 Decreto 1100 de 1992, código de trabajo y el código de comercio 
        
        .card(style="margin-top: -3%")
            .card-body
                .row
                    .col-xl-6
                        p(style="text-align: center;")
                            img(src="assets/images/pages/tema-2/sub1Tema1.svg")

                    .col-xl-6
                        // Text
                        p Por expresa disposición legal, la personería jurídica de las EAT será reconocida desde su inscripción en la Cámara de Comercio del domicilio social, siempre que acredite los requisitos (artículo 4º y artículo 5º. Ley 10 de 1991).
                        br
                        p Las empresas se clasifican de acuerdo a la actividad económica que desempeñan:
                        br
                        ul
                          li.p Servicios
                          li.p Comerciales
                          li.p Industriales
                          li.p Mineras
                          li.p Agrícolas
                          li.p Agropecuarias

        .jumbotron.bg-danger2-tema2 
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/sub2Icono1.svg", style="max-width: 120px").img-fluid
                .col-10
                    h2.text-white.text-justify.mb-0 Requisitos legales de constitución de una EAT 
        
        .card(style="margin-top: -3%")
            .card-body
                .row
                    .col-xl-6
                        p(style="text-align: center;")
                            img(src="assets/images/pages/tema-2/sub2Tema1.svg")

                    .col-xl-6
                        // Text
                        p Para la elaboración de alguno de los requisitos legales de constitución, estos se pueden consultar a través de la página de la Cámara de Comercio de la ciudad de residencia, encontrando:
                        br
                        ol(type="a")
                          li.p Escritura pública: los asociados o fundadores deben ir a una notaría, en forma personal o mediante apoderado, a otorgar el instrumento público que debe contener los estatutos.
                          li.p Acta de constitución con estatutos: las personas designadas para el cargo de presidente y secretario de la reunión deberán realizar reconocimiento previo de contenido y firma ante el notario en el acta y estatutos o realizar presentación personal ante el funcionario autorizado de la Cámara de Comercio respectiva.
                          li.p Documento privado: cuando la empresa se constituye por documento privado, todos los asociados o fundadores deben firmar el documento de constitución, que debe contener la adopción de los estatutos: el documento debe ser reconocido ante un juez o notario, o deberá contener la presentación personal ante el funcionario autorizado de la Cámara de Comercio.


        .jumbotron.bg-danger3-tema2 
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/sub3Icono1.svg", style="max-width: 120px").img-fluid
                .col-10
                    h2.text-white.text-justify.mb-0 Aportes
        
        .card(style="margin-top: -3%")
            .card-body
                .row
                    .col-xl-6
                        p(style="text-align: center;")
                            img(src="assets/images/pages/tema-2/sub3Tema1.svg")

                    .col-xl-6
                        // Text
                        p El pilar de una Empresa Asociativa de Trabajo es el sector de la economía solidaria. Por esta razón los aportes son su fundamento.
                        br
                        ol(type="a")
                          li.p #[strong Aportes laborales:] esfuerzo de trabajo personal, habilidades, competencias y experiencia que serán evaluados semestralmente y aprobados por la junta de asociados.

                          li.p #[strong Aportes adicionales:] conformados por la tecnología, propiedad intelectual o industrial registrada a nombre del aportante.

                          li.p #[strong Activos:] bienes muebles o inmuebles que los miembros aporten a la empresa.

                          li.p #[strong Dinero:] se podrá aportar dinero y se hará registro en una cuenta especial por cada asociado.

        .jumbotron.bg-danger4-tema2 
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/sub4Icono1.svg", style="max-width: 120px").img-fluid
                .col-10
                    h2.text-white.text-justify.mb-0 El capital
        
        .card(style="margin-top: -3%")
            .card-body
                .row
                    .col-xl-6
                        p(style="text-align: center;")
                            img(src="assets/images/pages/tema-2/sub4Tema1.svg")

                    .col-xl-6
                        // Text
                        p Conformado por los diferentes tipos de aportes, también por donaciones o auxilios entregados por empresas privadas o ayuda internacional. Capital semilla otorgado por las redes de apoyo a las EAT, como Fondo Emprender, Banco de la Mujer, Bancóldex, entre otras.


        .jumbotron.bg-danger5-tema2 
            .row.justify-content-center.align-items-center
                .col-auto
                    img(src="assets/images/pages/tema-2/sub5Icono1.svg", style="max-width: 120px").img-fluid
                .col-10
                    h2.text-white.text-justify.mb-0 Deberes, derechos y obligaciones de los asociados de una EAT 
        
        .card(style="margin-top: -3%")
            .card-body
                .row
                    .col-xl-6
                        p(style="text-align: center;")
                            img(src="assets/images/pages/tema-2/sub5Tema1.svg")

                    .col-xl-6
                        // Text
                        p Se establecerán en los estatutos que regirán los destinos de la EAT y estarán contemplados en el acta de constitución, escritura pública y/o documento privado.
