.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Asociatividad:
            | es el vínculo que se establece con la reunión, agrupación o asociación de varias personas que buscan un fin común, bajo principios de solidaridad, responsabilidad, ética, adhesión libre y voluntaria y democracia.
        p
            strong.mr-2 Economía:
            | sistema de producción, comercialización, distribución, intercambio de bienes y servicios que buscan satisfacer las necesidades de una población, familia e individuos.
        p
            strong.mr-2 Economía:
            | naranja	Es el desarrollo por medio de la diversidad cultural y la creatividad que se promueven en las comunidades que buscan transformar los entornos sociales y generar crecimiento económico de los países.
        p
            strong.mr-2 Emprendimiento:
            | es el proceso mediante el cual los individuos, a través de la generación de ideas creativas e innovadoras, buscan desarrollar unidades productivas que satisfagan necesidades o solucionen problemas en las sociedades.
        p
            strong.mr-2 Empresa:
            | unidad económica que se conforma para la producción y/o prestación de servicios básicos familiares, donde se unen personas con perfiles definidos por las habilidades, experiencia y competencias para desarrollar una actividad mercantil, buscando objetivos comunes como el generar sus empleos y desarrollo social, crecimiento económico de sus familias y sociedad.
        p
            strong.mr-2 FEAT:
            | formalización de Empresas Asociativas de Trabajo.
        p
            strong.mr-2 Trabajo:
            | es el esfuerzo que toda persona realiza basada en la contribución de conocimientos y competencias para realizar un producto, prestar un servicio o crear conocimiento y que, en contraprestación, recibe una remuneración.
