.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white 
      .row
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/bv8zTM9mZZ8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

          .p-5(style="background-color:#FFFF")        
            p El programa de formación de Formalización de Empresas Asociativas de Trabajo, nace bajo la perspectiva de poder brindar capacitación a todas las personas naturales que vienen desarrollando actividades económicas bajo la #[strong informalidad]; ya que muchos de estos trabajadores no están vinculados a programas de #[strong protección en seguridad social], a cajas de compensación y otros beneficios que se obtienen al constituirse como #[strong trabajadores formales y reconocidos empresarios], bajo el modelo de negocio denominado #[strong Empresas Asociativas de Trabajo (EAT)].

            p El SENA es la institución autorizada por la #[strong Ley 10 de 1991], bajo el #[strong Decreto 1100 de 1992 en el artículo 18]; “Para dar capacitación, asistencia técnica y consultoría en aspectos organizativos de gestión empresarial y tecnología”.

            p Por este motivo, este programa de formación #[strong promueve la inclusión] de toda clase de persona que ejerza una #[strong actividad económica], que evidencie destrezas, habilidades y conocimientos que le permitan asociarse con otras personas del mismo perfil y así poder #[strong constituir] y legalizar una Empresa Asociativa de Trabajo; la cual responda de manera #[strong eficiente, eficaz y rentable] a las necesidades de un mercado o de comunidades que buscan otras alternativas para solucionar sus #[strong problemas de consumo local, regional o nacional].



              