.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                tr
                    td Maestría en Gerencia Social PUCP. (2015, 14 de agosto). Redes Empresariales: Estrategia asociativa para promover el DET.
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=koqHcPgTWKI&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td San Gil Mañaneando. (2103, 13 de marzo). Empresa Asociativa de Trabajo Nutrisan.
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=L22gKdrMCGI&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Sanz, V. (2018, 03 de noviembre). Empresas Asociativas de Trabajo EAT.
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=qygvyftdXII", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Lozano, K. (2018, 24 de octubre). Empresas por Asociativa de Trabajo.
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=foXPH0d1ci4&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver

                tr
                    td Colombia sí es solidaria. (2013, 11 de diciembre). ¿Qué es una cooperativa y qué tipos de cooperativa existen en Colombia?
                    td Vídeo
                    td 
                        a(href="https://www.youtube.com/watch?v=UTnGcVVBl1k&feature=youtu.be", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver








