include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Salud Penitenciaria
        meta(meta name="description" content="Ruta de aprendizaje programa Salud penitenciaria.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Evaluador de competencias laborales en el área técnica de su dominio
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Evaluador de competencias laborales en el área técnica de su dominio
                                        li 
                                            span #[strong Código:] 11220137
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 5 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] se requiere que el aprendiz sea experto en el área técnica de su dominio para desarrollar procesos de evaluación y certificación de Competencias Laborales en los Centros de Formación del Sena. Además, que el aprendiz tenga conocimiento, dominio y manejo en herramientas informáticas, buscadores de internet y de comunicación como correo electrónico, chat, entre otros. </i>.

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAttOSxoYdc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 La evaluación de las competencias laborales es el proceso por medio del cual un evaluador en el área técnica de su dominio recoge evidencias de desempeño, producto y conocimiento de una persona, con el fin de determinar su nivel de competencia (básico, intermedio o avanzado) para desempeñar una función productiva, centrándose en el desempeño real de las personas y con base en un referente que es la Norma de Competencia Laboral.

                p Este curso orienta al aprendiz a desarrollar actividades propias de la metodología establecida para el proceso de Evaluación y Certificación de Competencias Laborales, a partir de la #[strong normativa, ejecución y cierre de proyectos.]  

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                
                p.mt-5 Por recomendación de la Organización Internacional del Trabajo, los países implementan el proceso de evaluación y certificación del talento humano, como el medio para reconocer y cualificar las competencias laborales a modo de estrategia de mejoramiento continuo, con el objetivo de atender los requerimientos del sector productivo. Para tal fin, en el año 2003 encargan al SENA como organismo certificador, quien pone en marcha estrategias y procedimientos que posibiliten la valoración de las competencias de los trabajadores, facilitando, a su vez, la definición de políticas inherentes a la gestión del talento humano.
 
                p En el contexto de las competencias laborales, la evaluación se constituye en el mecanismo que permite reconocer si un candidato posee una competencia en cuestión o cuál es el camino que debe seguir para alcanzar el estándar relacionado con ésta. En este marco, el SENA pone a disposición el programa de formación #[strong “Evaluador de competencias laborales en el área técnica de su dominio”], con el objetivo de proporcionar herramientas para aplicar en este proceso. Por tal razón, este programa de formación virtual se concibe dentro de los criterios de gestión de calidad.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p Este programa está dirigido a evaluadores internos y externos, expertos en el área técnica de su dominio, para desarrollar procesos de Evaluación y Certificación de Competencias Laborales en los centros de formación del SENA.


        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p Centrada en la construcción de autonomía para garantizar la calidad de la formación en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en el utilización de las Tecnologías de la Información y la Comunicación (TIC), integradas en ambientes virtuales de aprendizaje que recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias. 


                p Igualmente, debe estimular de manera  permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la  vinculación  activa  de las cuatro fuentes de información para la construcción de conocimiento: 

                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





