include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Información del programa: Formalización de Empresas Asociativas de Trabajo
        meta(meta name="description" content="Ruta de aprendizaje programa Formalización de Empresas Asociativas de Trabajo.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")

    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar.justify-content-center.justify-content-md-start
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Formalización de Empresas Asociativas de Trabajo
                                h1.curso-titulo Información del programa

                                .brand-line-primary

                                p.curso-descripcion
                                    ul.bg-brand-color-dark.text-white 
                                        li 
                                            span #[strong Nombre del programa:] Formalización de Empresas Asociativas de Trabajo
                                        li 
                                            span #[strong Código:] 12210003
                                        li 
                                            span #[strong Total Horas:] 48
                                        li 
                                            span #[strong Duración en semanas:] 4 semanas
                                        li 
                                            span #[strong Modalidad:] virtual
                                        li 
                                            span #[strong Requisito de ingreso:] No se hace acepción de personas, pueden ingresar individuos desde los 14 años de edad, que ejerzan de manera independiente e informal una actividad comercial y que deseen hacer parte de empresarios emprendedores formales del país. </i>

                    

                            .col-12.col-lg-6
                                .embed-responsive.embed-responsive-16by9
                                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/yAttOSxoYdc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')          


        section#Presentacion.section.section-dark

            .container

                h1  1. Presentación
                .brand-line-primary

                p.mt-5 El programa de Formalización de Empresas Asociativas de Trabajo - FEAT, se dirige a toda persona que ejerza una actividad comercial enmarcada en la ley, que desarrolla actividades de manera independiente e informal; y que genera ingresos personales y los de sus familias. El curso brinda conceptos desde la constitución de empresas eficientes bajo la legalidad y lo reglamentado para generar desarrollo social y crecimiento económico en las personas y familias del país. 

                p Se establecen criterios conceptuales para comprender la estructura de las EAT, desde el conocimiento de la Ley 10 de 1991, el Decreto 1100 de 1992, la Ley 1014 de 2006 de emprendimiento; y todo el proceso para la organización, constitución y legalización de una EAT.

                p Brinda información de principios, elementos y la forma de constituir una EAT, los pasos para legalizarla ante la Cámara de Comercio y el Ministerio de Trabajo y Seguridad Social, así como de todas las instancias controladoras y reguladoras.

                p Para finalizar, se brinda información para el diligenciamiento de los documentos exigidos para la legalización de EAT; de igual forma, se hace posible el desarrollo de iniciativas de negocio desde la legalidad, planteando un Plan de Negocio rentable y sostenible desde el aporte de nuevos conocimientos en empresas viables y rentables. 

        section#Justificacion.section.section-light

            .container

                h1  2. Justificación<br> del programa
                .brand-line-primary

                p.mt-5 Las Empresas Asociativas de Trabajo-EAT, se constituyen en una alternativa cada vez más viable para el emprendimiento empresarial y la contribución a la política del Estado colombiano en la generación de empleo, por sus características económicas, administrativas, legales, tributarias y se considera una opción y modelo para suplir las necesidades reales del sector productivo y el derecho de asociación y libre empresa.

                p El programa Formalización de Empresas Asociativas de Trabajo-FEAT, brinda los lineamientos necesarios para que las personas, gremios y comunidades conformen empresas viables y sostenibles de tipo asociativo. La generación de estas entidades permite empoderar a las diferentes comunidades para mejorar el desarrollo económico y su calidad de vida.

                p Por este motivo, este programa se presenta como una alternativa importante para todas aquellas personas y familias que viven de la informalidad laboral, ya que puede garantizar un manejo más adecuado a la seguridad social.

                p Es así, como las Empresas Asociativas de Trabajo se convierten en una alternativa económica y social de gran importancia para todas aquellas poblaciones vulnerables que contribuyen con su fuerza laboral, a generar sus propios ingresos para el mejoramiento de su calidad de vida.


        section#Poblacion.section.section-dark

            .container

                h1  3. Población <br>objetivo
                .brand-line-primary

                p.mt-5 El programa complementario de Formalización de Empresas Asociativas de Trabajo modalidad virtual, está dirigido a personas con pensamiento empresarial, que desarrollan actividades económicas de manera independiente e informal.

                p Además, el programa busca que los emprendedores empresarios hagan parte de la formalización de sus empleos e ingresos bajo las condiciones de legalidad y formalidad, mejorando las condiciones económicas personales y las de sus familias, como la inclusión a la seguridad social.

                p Por último, con los conocimientos adquiridos, se estimula a la creación de nuevas unidades de negocio que promuevan los tipos de emprendimiento, como: emprendimiento verde, emprendimiento social, emprendimiento campesino, emprendimiento juvenil y proyectos de economía naranja.



        section#Estrategia.section.section-light

            .container

                h1 4. Estrategia <br>metodológica
                .brand-line-primary

                p.mt-5 El programa de formación busca promover desde el empoderamiento de los conceptos, hasta poder generar ideas creativas bajo la propuesta de “Aprender Haciendo”, como personas autónomas y asociativas que generen soluciones a los problemas de sus hogares, barrios y comunidades que los rodean.

                p Centrada en la construcción de autonomía para garantizar la calidad de los procesos formativos en el marco de la formación por competencias, el aprendizaje por proyectos y el uso de técnicas didácticas activas que estimulan el pensamiento para la resolución de problemas simulados y reales; soportadas en la utilización de las tecnologías de la información y la comunicación, integradas, en ambientes abiertos y pluritecnológicos, que en todo caso recrean el contexto productivo y vinculan al aprendiz con la realidad cotidiana y el desarrollo de las competencias.

                p Igualmente, debe estimular de manera permanente la autocrítica y la reflexión del aprendiz sobre el que hacer y los resultados de aprendizaje que logra a través de la vinculación activa de las cuatro fuentes de información para la construcción de conocimiento: 


                .row.mt-4
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tutor.svg', style='width: 100px; height: 100px;')
                            h3.my-3 El tutor - instructor
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/entorno.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Entorno
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg
                            img.img-fluid(src='assets/images/info/tic.svg', style='width: 100px; height: 100px;')
                            h3.my-3 TIC
                    article.col-md-6.col-lg-3.my-2
                        .box.bg-gray-200.d-flex.flex-column.justify-content-center.align-items-center.p-4.rounded-lg(style='height: 100%;')
                            img.img-fluid(src='assets/images/info/colaborativo.svg', style='width: 100px; height: 100px;')
                            h3.my-3 Trabajo colaborativo

        +creditosFooter("assets/images/logos/senaLogo.svg")





