include mixins/functions

doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Ruta de aprendizaje
        meta(meta name="description" content="Ruta de aprendizaje programa Formalización de Empresas Asociativas de Trabajo.")    
        link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
        link(rel="stylesheet", href="assets/fonts/feather/feather.css")
        link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
        link(href='assets/css/fancybox.css', rel='stylesheet')
        link(href='assets/css/animate.css', rel='stylesheet')
        link(rel="stylesheet", href="assets/css/main.css")


    body#page-home.theme-dark.page-header-textura

        header#CursoPresentacion.curso-presentacion.page-header
            .page-textura
                .container

                    .curso-topbar
                        
                        a.curso-topbar__logo
                            include ../assets/images/logos/senaLogo.svg

                    .curso-portada

                        .row.align-items-center

                            .col-12.col-lg-6

                                h3.curso-subtitulo Formalización de Empresas Asociativas de Trabajo
                                h1.curso-titulo Ruta de aprendizaje

                                .brand-line-primary

                                p.curso-descripcion A continuación se presentan las actividades de aprendizaje que debe realizar el aprendiz durante el proceso formativo, estableciendo los tiempos, recursos educativos y evidencias que le permitirán  cumplir con los resultados de aprendizaje definidos para el programa de formación <strong>Formalización de Empresas Asociativas de Trabajo</strong>.
                    

                            .col-12.col-lg-6
                                .d-none.d-lg-block
                                    img(src="assets/images/header/header_ruta.svg")           

        section#ruta.curso-resultados.section.bg-base-light.container

            .subtitulo-guion.my-4
                h2 Guía de aprendizaje 1 <br><small class="text-muted letter-spacing-1x font-weight-bold">Duración: 48 horas</small>

            .timeline__wrapper.jumbotron.py-3.px-5

                section#timeline
                    .timeline__item.br--bottom   
                        img(src="assets/images/ruta/inicio.svg", alt="")            
                        p Inicio              
                    .timeline-card-wrapper                              
                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 01
                                .title-box #[strong Actividad de aprendizaje:] Describir los documentos requeridos para la estructura de una empresa asociativa de trabajo.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span Identificar la estructura de las empresas asociativas de trabajo, de acuerdo con la normatividad vigente
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Estructura y constitución de una EAT
                                    .tl-hr-divider
                                    p #[strong Evidencia de conocimiento:] 
                                    
                                    p #[strong AA1-EV01. Mapa conceptual.] Elaborar un mapa conceptual colaborativo para reconocer e identificar la estructura de las EAT, los principios, los elementos y los requisitos establecidos en la normatividad vigente y participe en el foro 1 “Contextualización de las EAT”, socializando los resultados de la evidencia.

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 02
                                .title-box #[strong Actividad de aprendizaje:] Constituir una empresa asociativa de trabajo de acuerdo a la normatividad vigente para analizar los impactos que se generan en la economía informal.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span Constituir una empresa asociativa de trabajo, de acuerdo con la normatividad que las rigen.

                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Estructura y constitución de una EAT
                                    .tl-hr-divider
                                    p #[strong Evidencia de producto:] 
                                    p #[strong AA2-EV02. FRISO.] Desarrollar un plegable para explicar la organización y la legalización de las EAT establecidas en la normatividad vigente y participe del foro 2. “Importancia de una EAT”. socializando los resultados de la evidencia.                                        

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 03
                                .title-box #[strong Actividad de aprendizaje:] Establecer el cumplimiento de normas al estructurar una empresa asociativa de trabajo de acuerdo con la normatividad vigente.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span Validar el cumplimiento de requisitos de una empresa asociativa de trabajo, de acuerdo a la normatividad vigente.
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Formalización de una EAT
                                    .tl-hr-divider
                                    p #[strong Evidencia de producto:] 
                                    p #[strong AA3-EV03. Documento “Acta de constitución y los estatutos de la EAT”.] Documento “Acta de constitución y los estatutos de la EAT”. Realizar un documento con la propuesta de plan de empresa, con los estudios de mercado, organizacional, técnico y financiero. Enseguida participe del foro 3. “Pasos para la legalización de una EAT” socializando los resultados de la evidencia.

                        .timeline-card.card--step1
                            .timeline-card__head
                                .number-box
                                    span 04
                                .title-box #[strong Actividad de aprendizaje:] Diligenciar los documentos requeridos para la constitución de una empresa asociativa de trabajo.
                            .timeline-card__body            
                                .body-content-wrapper            
                                    p #[strong Resultado de aprendizaje]</br>
                                    ul.bg-color-dark
                                        li 
                                            span Diligenciar los documentos requeridos para la constitución de una empresa asociativa de trabajo, de acuerdo a la normatividad vigente.
                                    .tl-hr-divider
                                    p #[strong Material de formación]</br>Formalización de una EAT
                                    .tl-hr-divider
                                    p #[strong Evidencia de desempeño:] 
                                    p #[strong AA4-EV04. Vídeo presentación.] Realizar un vídeo de aproximadamente 3 minutos con la presentación del resumen ejecutivo del plan de empresa y participe del foro 4. “Impacto de una EAT” socializando los resultados de la evidencia.

                    .timeline__item.br--top                
                        img(src="assets/images/ruta/certificacion.svg", alt="")    
                        p Certificación        
                    

        +creditosFooter("assets/images/logos/senaLogo.svg")


        script(src="assets/js/vendor.js")
        script(src="assets/js/global.js")        
        script(src="assets/js/pages.js")





